/* CSS Document */
body { background: #fff; font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; -webkit-font-smoothing: antialiased; }

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,p,blockquote,hr{margin:0; padding:0;}

img{border:none;}

h1,h3,h4,h5,h6 {font-size:100%; color:#666666;}
h2{font-size:100%; color:#417690;}
h3{font-size:90%; color:#009FC2;}

p { line-height: 16px; margin: 0 0 18px; font-size:12px; }
select{min-width:100px;}

.shadow{border:#AAAAAA solid 1px; -webkit-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; moz-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px;}
.links{text-decoration:none; font-weight:bold; color:#009FC2;}
.links:hover{text-decoration:underline;}

table{border-spacing:0px; line-height:24px; border-top:#AAAAAA solid 1px; border-left:#AAAAAA solid 1px; padding-left:2px;  margin-top:10px; margin-bottom:10px; font-size:13px; width:inherit; vertical-align:top;}

table td, th{border-bottom:#AAAAAA solid 1px; padding-bottom:5px; border-right:#AAAAAA solid 1px; padding-right:5px; margin-left:2px; vertical-align:top;}

table th{color:#666666; background-color:#F2F5F7;}

table td a{text-decoration:none; font-weight:bold; color:#009FC2;}

input.button{height:26px;}
input.input-text:focus, textarea:focus { outline: none; border-color: #999; color: #333; padding: 2px 3px; border: 2px solid #2daebf; }

.breadcrumbs{color:#999999; border-bottom:#AAAAAA solid 1px; padding-bottom:5px;  margin-left:5px;}

.header-details{float:right; font-size:13px}

.header-details ul{margin-right:10px;}

.header-details li{list-style:none; float:right; }

.header-details li a{color:#009FC2;}

.navigation{font-size:14px; padding: 2px 6px 2px; display:block; list-style-type:none; height:26px; margin-left:auto; margin-right:auto; background-color:#009FC2; }

.navigation li{float: left;position: relative;list-style: none;}

.navigation a{color: #FFF;text-decoration: none;display: block;padding:  2px 20px 2px;margin: 0; border-radius: 4px; moz-border-radius: 4px; -webkit-border-radius: 4px;}

.navigation a:hover{color:#009FC2; background-color:#FFF;}

/*sub-level navigation links*/
.navigation ul li:hover a, .navigation li:hover li a{background-color:#009FC2; border-right:thin; color:#FFFFFF;}

.navigation ul a:hover{background-color:#FFFFFF !important; color:#009FC2 !important;}

/*drop-down effect*/
.navigation li:hover>ul{ display:block;}

.navigation ul{display:none; margin: 0;	padding: 0; width:200px; position:absolute; top:22px; left:0; background-color:#009FC2; border: solid 1px #b4b4b4; border-radius: 8px; z-index:9999; border-radius : 4px;-moz-border-radius : 4px;
-webkit-border-radius: 4px;}

.navigation ul li{float: none; margin: 0; padding: 0;}

.navigation ul a{font-weight: normal;}

.content{min-height:700px;}

.main-content{margin-left:5px; position:relative;}

.left-col{float:left; min-width: 215px; font-size:12px; min-height:300px; margin-left:5px; margin-top:7px; border:#AAAAAA solid 1px; -webkit-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; moz-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px;}

.main-col{width:600px; float:left; margin-left:5px;}
.main-col p, .main-col h1{margin:10px;}

.right-col{float:right; min-height:400px; width:220px; float:left; margin-left:5px; border:#AAAAAA solid 1px; margin-top:40px; -webkit-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; moz-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px;}

.left-col ul, .right-col ul{margin-top:36px;}
.left-col ul li a, .right-col ul li a{color:#009FC2; font-size:14px; font-weight:bold; text-decoration:none; float:right; width:inherit; margin-right:10px; width: 190px;}
.right-col ul li a{float:left; margin-left: 20px;}
.left-col ul li, .right-col ul li{line-height:28px; list-style-type: none;}
.left-col ul li:hover a, .right-col ul li:hover a{background-color:#999999; width:200px; color:#ffffff;}

.widget{background-color:#009FC2; color:#ffffff; line-height:28px;}

.module-header{color:#ffffff; background-color:#009FC2; line-height:36px; margin-top: 7px; margin-bottom: 7px;}

.recent{background-color:#999999; color:#FFFFFF; line-height:28px;}

.footer{background-color:#eeeeee; height:80px; position:relative; border-top:#bbbbbb solid 1px}

.login{width:388px; position:relative; display:block; margin-top:120px; moz-border-radius:8px; border-radius:8px; -webkit-border-radius:8px;
 -webkit-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; 
 moz-box-shadow:rgba(0,0,0,0.496094) 0px 1px 3px 0px; overflow:hidden; border:medium; border-color:#000; background-color:#FFFFFF;}

.login label{font-size:13px;}

.login legend{font-style:italic;}

.button{height:30px;}

.drop-down{height:30px;}

.form-capsule{margin:10px 0 5px 0; border-top:#bbbbbb solid 1px;}
.form-capsule table {min-width: 590px;margin-left: 5px;}
.form-capsule fieldset{border: #009FC2 solid 1px; margin-top: 5px;}
.form-row{font-size:12px; border-bottom:#dddddd solid 1px;}
.required{font-weight:bold;}
.form-row {min-height: 30px;}
.form-row div{margin:10px;}
.form-row label{width:150px; float:left; height:auto;}
.form-row input, .form-row select{margin-left:10px;}
.form-row p label{font-weight:bold; margin-right: 5px; overflow-y:hidden;}
.form-row p{line-height: 30px;}
.form-row p a{text-decoration:none; font-weight:bold; color:#009FC2;}
.form-row table{margin-bottom: 10px; margin-left: auto; margin-right: auto;}
.form-row table a{margin-left: 5px;}

.submit-row{margin-top:10px; border-top:#aaaaaa solid 1px; line-height: 36px;}
.main-col .shadow {}

.active-accounts{background-color:#92CC47; color:#ffffff; line-height:24px;}
.suspended{background-color:#c63738; color:#ffffff; line-height:24px;}
.application{background-color:#417690; color:#ffffff; line-height:24px;}
.inactive{background-color:#999999; color:#ffffff; line-height:24px;}

.linkbutton{float:right; margin-right:10px; width:150px; moz-border-radius:8px; border-radius:8px; -webkit-border-radius:8px; 
color:#ffffff; background-color:#999999; text-decoration:none; line-height:20px; font-size:12px; font-weight:bold;}
.linkbutton:hover{background-color:#009FC2}

#deleterow{margin-top:10px;}
#delete-link{color:#993333; line-height:24px; font-size:16px; text-decoration:none;}
#delete-link:hover{text-decoration: underline;}

#approve-application, #activate{color: #ffffff; background-color: #92CC47; line-height: 26px;}
#approve-application:hover, #activate:hover{color: #92CC47; background-color: #ffffff; border: #92CC47 solid 1px;}

#reject-application, #close{color: #ffffff; background-color: #c63738; line-height: 26px;}
#reject-application:hover, #close:hover{color: #c63738; background-color: #ffffff; border: #c63738 solid 1px;}

.linkbutton img{margin-right:5px;}

/*Django Errors*/
.errorlist{list-style-type: none}
