<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="{{ MEDIA_URL }}css/common.css" type="text/css" rel="stylesheet"/>
<link type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>

{% block extracss %}{% endblock extracss %}
{% block extrajs %}{% endblock extrajs %}

<title>{% block title %}Majisoft{% endblock title %}</title>
</head>
<body>
	<div id="container">
		{% block container %}
		{% endblock container %}
	</div>
</body>
</html>