{% extends "base.html" %}

<title>{% block title %} {{ block.super }} | {% endblock title %}</title>
{% block container %}
	<div class="header">
		{% block header %}
	    	<a href="/" style="text-decoration:none;"><img src="{{ MEDIA_URL }}images/logo2.png" /></a>
	        <div class="header-details">
        	<ul>
                <li><a href="#">Log-out</a></li>
                <li> &nbsp | &nbsp </li>
                <li><a href="#"> Manage Account</a> </li> 
                <li> &nbsp | &nbsp </li>
                <li><a> Welcome Eric </a> </li>        
            </ul>
        </div>
        <div>
            <div class="navigation shadow">
            	{% block navigation %}
	            	<li><a href="#">Home</a></li>
	                <li><a href="{% url consumer-list %}">Consumers</a></li>
	                <li><a href="#">Billing</a></li>
	                <li><a href="#">Readings</a></li>
	                <li><a href="#">Reports</a></li>
	                <li><a href="#">Users</a></li>
	                <li><a href="#">Configuration</a></li>
                {% endblock navigation%}
            </div>
		</div>
	     {% endblock header %}
    </div>
    <div class="breadcrumbs">
    	{% block breadcrumbs %}
    	
    	{% endblock breadcrumbs%}
	</div>
    <div class="content">
    	{% block content %}
	        <div class="main-content">
	        	{% block main_content %}
	        		<div class="left-col">
	        			{% block left_col %}
							
						{% endblock left_col %}
		            </div>
		        	<div class="main-col">
		        		{% block main_column %}
		        			{% block module_header %}
		        			
		        			{% endblock module_header %}
				        {% endblock main_column %}
	          		</div>
	            	{% block right_column %}
		            	<div class="right-col">
		            	</div>
	            	{% endblock right_column %}
			        
			    {% endblock main_content %}
	        </div>
	      {% endblock content %}
    </div>
 {% endblock container %}
 