{% extends "base_skeleton.html" %}

<title>{% block title %} {{ block.super }} Dashboard {% endblock title%} |</title>

{% block left_col %}
	<div  align="center"><h1 class="widget">Today's date</h1></div>
	<div id="calendar">
	</div>
	<script type="text/javascript">
		(function($){
			$('#calendar').datepicker({
				inline: true,
			});
		})(jQuery);
	</script>
{% endblock left_col %}

{% block main_column %}
    <div>
    	<div align="center">
    		<h1 class="module-header">
    			{% block module_header %}Majisoft Dashboard {% endblock module_header %}
			</h1>
		</div>
		<p>Welcome to the Majisoft Water Utility Software Suite.</p>
        <p>Your Organisation is Nairobi Water &amp; Sewerage Services Company.</p>
        
        <h1>Recent Connection Applications</h1>
		<table width="595">
			<tr class="table-header">
				<th width="230" scope="col"><div align="left">Customer</div></th>
				<th width="187" scope="col">Consumer Type</th>
				<th width="160" scope="col">Date of application</th>
			</tr>
			{% if latest_applications %}
				{% for customer in latest_applications %}
					<tr>
						{% if customer.consumer.company_name %}
							<td><a href="{{ customer.consumer.get_absolute_url }}">{{ customer.consumer.company_name }}</a></td>
						{% else %}
							<td><a href="{{ customer.consumer.get_absolute_url }}">{{ customer.consumer.full_name }}</a></td>
						{% endif %}
						<td>{{ customer.consumer.consumer_type }}</td>
						<td>{{ customer.date_received}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td><p> No  </p></td>
					<td><p> new  </p></td>
					<td><p> Applications </p></td>
				</tr>
			{% endif %}
		</table>
     </div>
{% endblock main_column %}