{% extends "base_skeleton.html" %}

{% block main_column %}
    <div>
    	<div align="center">
    		<h1 class="module-header">
    			{% block module_header %} Majisoft Dashboard {% endblock module_header %}
			</h1>
		</div>
		<p>Welcome to the Majisoft Water Utility Software Suite.</p>
        <p>Your Organisation is Nairobi Water &amp; Sewerage Services Company.</p>
        <h1>Recent Connection Applications</h1>
		<table width="595">
			<tr class="table-header">
				<th width="230" scope="col"><div align="left">Customer</div></th>
				<th width="187" scope="col">Consumer Type</th>
				<th width="160" scope="col">National ID</th>
			</tr>
			{% for customer in new_customers %}
				<tr>
					<td><a href="#">{{ customer.full_name }}</a></td>
					<td>{{ customer.consumer_type }}</td>
					<td>{{ customer.id_number}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock main_column %}