{% extends "base_consumer.html" %}

<title>{% block title %} {{ block.super }}| Account {% endblock title%} |</title>

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>Add Consumer</h1>
		<div class="form-capsule">
			<table width="595">
			<tr class="table-header">
				<th width="230" scope="col"><div align="left">Consumer</div></th>
				<th width="160" scope="col">Plot Location</th>
				<th width="187" scope="col">Consumer Type</th>
			</tr>
			{% for application in applications %}
				<tr>
					{% if customer.company_name %}
						<td><a href="{% url application-add application.consumer.id %}">{{ application.consumer.company_name }}</a></td>
					{% else %}
						<td><a href="{% url application-add application.consumer.id %}">{{ application.consumer.full_name }}</a></td>
					{% endif %}
					<td>{{ application.plot_no.full_address}}</td>
					<td>{{ application.consumer.consumer_type.consumer_type }}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
{% endblock main_column %}
