{% extends "base_consumer.html" %}

{% block extrajs %}

{% endblock extrajs %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>
			{% if consumption %}
				Edit Rate for <a href="{% url consumer-type-details consumption.consumer_type.pk %}">{{ consumption.consumer_type.consumer_type }}</a>
			{% else %}
				{% if consumertype %}
					Add Rate for <a href="{% url consumer-type-details consumertype.pk %}">{{ consumertype.consumer_type  }}</a>
				{% endif %} 
			{% endif %}
		</h1>
		<div class="form-capsule">
			<div class="form-row">
				<table>
					{% if consumption_rates %}
	            		<tr>
	            			<th width="185">Unit Range (m<sup>3</sup>)</th>
	            			<th width="185">Water (Ksh.)</th>
	            			<th width="185">Sewerage (Ksh.)</th>
	            		</tr>
	                    {% for min, rate in consumption_rates %}
	                    	<tr>
	                    		<td>
	                    			<div align="center">
	                    				{% if forloop.first %}
                        					0 - {{ rate.max_unit }}
                    					{% else %}
                    						{% if rate.border_rate %}
                    							{{ rate.max_unit }} <
                							{% else %}
                    							{{ min.max_unit }} - {{ rate.max_unit }}
                							{% endif %}
                    					{% endif %}
	                				</div>
	            				</td>
	            				<td><div align="center">{{ rate.water }}</div></td>
	            				<td><div align="center">{{ rate.sewerage }}</div></td>
	                    	</tr>
	                    {% endfor %}
                    {% endif %}
                </table>
			</div>
			<form action="" method="post" >
				{% csrf_token %}
				{% for field in consumptionForm %}
				<div class="form-row">
					{% if field.errors %}
						<div class="ui-state-error ui-corner-all" style="padding: 0 0.7em 0 0.7em">
					{% endif %}
					<p>{{ field.label_tag }}: {{ field }}</p>
					{% if field.errors %}
						<p>{{ field.errors }}</p></div>
					{% endif %}
				</div>
				{% endfor %}
				<div class="submit-row" align="center">
                	<input type="submit" value="Save" class="btn-save" name="save"/>
                </div>
			</form>
		</div>
	</div>
	{% if consumption %}
		<div id="deleterow" class="shadow">
			<p><a href="#" id="delete-link"><img src="{{ MEDIA_URL }}images/icons/icon_deletelink.gif" /><strong> Delete</strong> </a></p>
		</div>
	{% endif %}
{% endblock main_column %}