{% extends "base_consumer.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>Consumer Type List</h1>
		<div class="form-capsule">
			<p>
				<label for="search">Search</label>
				<input type="text" id="search" name="search"/>
			</p>
			<table>
				{% for type in consumer_types %}
					<div class="form-row" align="center"><a href="{% url consumer-type-details type.id %}" class="form-links"><p>{{ type.consumer_type }}</p></a></div>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock main_column %}