{% extends "base_consumer.html" %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#delete-link").click(function(){
				$.ajax({
					  type: 'POST',
					  url: "{% url consumer-delete consumer.id %}",
					  data: {},
					  success:function(){
					  	window.location.replace("{% url consumer-list %}");
					  }
				});
				return false;
			});
		});
	</script>
{% endblock extrajs %}

<title>{% block title %} {{ block.super }} | Details {% endblock title%} |</title>

<div class="main-col">
	{% block main_column %}
		<div align="center"><h1 class="module-header">Consumer Module</h1></div>
		<div class="shadow">
            <h1>{% if consumer.company_name %}
            		{{ consumer.company_name }}
            	{% else %}
					{{ consumer.full_name }} 
				{% endif %}
				<a href="{% url consumer-edit consumer.consumer_type.consumer_type.lower consumer.id %}" class="linkbutton">
                	<div align="center"><img src="{{ MEDIA_URL }}images/icons/icon_changelink.gif" />Edit Consumer</div>
                </a>
			</h1>
            <div class="form-capsule">
            	<div class="form-row">
					<p>
						<a href="{% url application-add  consumer.pk %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" /> New Account</a> | 
						<a href="{% url payment-make  consumer.pk %}" class="links"> Make Payment</a>
					</p>
				</div>
            	<div class="form-row">
            		<p><label>Balance:</label> <a href="{% url consumer-financial-details consumer.id %}">
            			Ksh. {{ balance }}</a></p>
        		</div>
				<div class="form-row">
					{% if consumer.company_name %}
						<p><label>Director's Name</label> {{ consumer.full_name }}</p>
					{% endif %}
					<p>
						<label> {% if consumer.company_name %}Director's {% endif %}
							{% if consumer.identification_mode = consumer.NATIONAL_ID %} 
								National ID:
							{% else %}
								Passport No:								
							{% endif %}</label> 
						{{ consumer.id_number }}
					</p>
					<p>
						<label> {% if consumer.company_name %}Director's {% endif %}
							Nationality:</label> 
						{{ consumer.country_of_origin }}
					</p>
					<p><label>{% if consumer.company_name %}Director's {% endif %} PIN No:</label> {{ consumer.pin_no }}</p>
					<p><label> {% if consumer.company_name %}Director's {% endif %}Mobile No:</label> {{ consumer.mobile_no }}</p>
					{% if consumer.email %}
						<p><label>{% if consumer.company_name %}Director's{% endif %} Email</label> {{ consumer.email }}</p>
					{% endif %}
					{% if consumer.landline_no %}
						<p><label>Landline No:</label> {{ consumer.landline_no }}</p>
					{% endif %}
					<p><label>Postal Address:</label> {{ consumer.full_address }}</p>
				</div>
				{% if active_accounts %}
				<div class="form-row">
                	<div align="center"><h2 class="active-accounts">Active Accounts</h2></div>
                	<table>
                		<tr>
                			<th>Account No</th>
                			<th>Sub-zone</th>
                			<th>Plot No</th>
                			<th>Last Activated</th>
                		</tr>
                        {% for account in active_accounts %}
                        	<tr>
                        		<td>
                        			<a href="{% url account-details account.id %}">
                        				{{ account.account_no }}
                        			</a>
                        		</td>
                				<td>{{ account.application.plot_no.sub_zone }}</td>
                				<td>{{ account.application.plot_no.plot_no }}</td>
                				<td>{{ account.date_activated }}</td>
                        	</tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if inactive_accounts %}
                <div class="form-row">
                	<div align="center"><h2 class="inactive">Inactive Accounts</h2></div>
                    <table>
                    	<tr>
                    		<th>Account No</th>
                			<th>Sub-zone</th>
                			<th>Plot No</th>
                			<th>Last Activated</th>
                    	</tr>
                    	{% for account in inactive_accounts %}
                        	<tr>
                        		<td>
                        			<a href="{% url account-details account.id %}">
                        				{{ account.account_no }}
                        			</a>
                        		</td>
                				<td>{{ account.application.plot_no.sub_zone }}</td>
                				<td>{{ account.application.plot_no.plot_no }}</td>
                				<td>{{ account.date_activated }}</td>
                        	</tr>
                    	{% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if unreviewed_applications %}
                <div class="form-row">
                	<div align="center"><h2 class="application">Account Applications</h2></div>
                    <table>
                    	<tr>
                    		<th>Application No</th>
                    		<th>Service-line diameter</th>
                    		<th style="min-width: 110px;">Sub-zone</th>
                    		<th>Plot No</th>
                    	</tr>
                    	{% for application in unreviewed_applications %}
                        	<tr>
                        		<td>
                        			<a href="{% url application-details application.id%}">
                        				{{ application.consumer.id }}-{{ application.id }}
                        			</a>
                        		</td>
                				<td>{{ application.service_line }}</td>
                				<td>{{ application.plot_no.sub_zone.name }}</td>
                				<td>{{ application.plot_no.plot_no }}</td>
                        	</tr>
                    	{% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if suspended_accounts %}
                <div class="form-row">
                	<div align="center"><h2 class="suspended">Suspended Accounts</h2></div>
                	<table>
                		<tr>
                			<th>Account No</th>
                			<th>Location</th>
                			<th>Plot No</th>
                			<th width="115">Date Closed</th>
                		</tr>
                	{% for suspension in suspended_accounts %}
                        	<tr>
                        		<td>
                        			<a href="{% url account-details suspension.id%}">
                        				{{ suspension.account_no }}
                        			</a>
                        		</td>
                				<td>{{ suspension.application.plot_no.plot_location }}</td>
                				<td>{{ suspension.application.plot_no.plot_no }}</td>
                				<td>{{ suspension.date_closed }}</td>
                        	</tr>
                    	{% endfor %}
                    	</table>
                </div>
                {% endif %}
			</div>
        </div>
        
        {% if not suspended_accounts and not unreviewed_applications and not inactive_accounts and not active_accounts %}
		<div id="deleterow" class="shadow">
			<p><a href="#" id="delete-link"><img src="{{ MEDIA_URL }}images/icons/icon_deletelink.gif" /><strong> Delete</strong> </a></p>
		</div>
		{% endif %}
	{% endblock main_column %}
</div>	
