{% extends "base_consumer.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>{% if applicant %}
				{% if applicant.company_name %}
					{{ applicant.company_name }}'s
				{% else %}
					{{ applicant.full_name }}'s
				{% endif %}
			{% else %}
				{% if application.consumer.company_name %}
					{{ application.consumer.company_name }}'s
				{% else %}
					{{ application.consumer.full_name }}'s
				{% endif %}
			{% endif %} application details</h1>
		<div class="form-capsule">
			<form action="" method="post">
				{% csrf_token %}
				{% for field in applicationForm%}
				<div class="form-row">
					{% if field.errors %}
						<div class="ui-state-error ui-corner-all" style="padding: 0 0.7em 0 0.7em">
					{% endif %}
					<p>{{ field.label_tag }}: {{ field }} {% if forloop.first %}<a href="{% url plot-add-redirect %}"> New Plot</a> {% endif %}</p>
					{% if field.errors %}
						<p>{{ field.errors }}</p></div>
					{% endif %}
				</div>
				{% endfor %}
				<div class="submit-row" align="center">
                	<input type="submit" value="Save" class="btn-save" name="save"/>
                </div>
			</form>
		</div>					
	</div>
{% endblock main_column %}