{% extends "base_settings.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Landlord Details</h1></div>
	<div class="shadow">
		<h1>
			{% if landlord.company_name %}
	    		{{ landlord.company_name }}
	    	{% else %}
				{{ landlord.full_name }} 
			{% endif %}
		</h1>
		<div class="form-capsule">
			<div class="form-row">
				<p><a href="{% url landlord-plot-add landlord.pk %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" /> New Plot</a></p>
			</div>
			<div class="form-row">
				{% if landlord.company_name %}
					<p><label>Director's Name</label> {{ landlord.full_name }}</p>
				{% endif %}
				<p>
					<label> {% if landlord.company_name %}Director's {% endif %}
						{% if landlord.identification_mode = landlord.NATIONAL_ID %} 
							National ID:
						{% else %}
							Passport No:								
						{% endif %}</label> 
					{{ landlord.id_number }}
				</p>
				<p>
					<label> {% if landlord.company_name %}Director's {% endif %}
						Nationality:</label> 
					{{ landlord.country_of_origin }}
				</p>
				<p><label> {% if landlord.company_name %}Director's {% endif %}Mobile No:</label> {{ landlord.mobile_no }}</p>
				{% if landlord.landline_no %}
					<p><label>Landline No:</label> {{ landlord.landline_no }}</p>
				{% endif %}
				{% if landlord.email %}
					<p><label>{% if landlord.company_name %}Director's{% endif %} Email</label> {{ landlord.email }}</p>
				{% endif %}
				<p><label>Postal Address:</label> {{ landlord.full_address }}</p>
				<p><label>{% if landlord.company_name %}Director's {% endif %} PIN No:</label> {{ landlord.pin_no }}</p>
			</div>
			<div class="form-row">
            	<div align="center"><h2 class="application">Plots owned</h2></div>
            	<table>
            		<tr>
            			<th>Plot No</th>
            			<th style="min-width: 90px;">Street</th>
            			<th>Plot Location</th>
            			<th>No of Consumers</th>
            		</tr>
                    {% for plot in plots %}
                    	<tr>
                    		<td>
                    			<a href="{% url plot-details plot.id %}">
                    				{{ plot.plot_no }}
                    			</a>
                    		</td>
            				<td>{{ plot.street }}</td>
            				<td>{{ plot.plot_location }}</td>
            				<td></td>
                    	</tr>
                    {% endfor %}
                </table>
            </div>
		</div>
	</div>
{% endblock main_column %}
{% block right_column %}

{% endblock right_column %}