{% extends "base_consumer.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<table width="595">
			<tr class="table-header">
				<th width="230" scope="col"><div align="left">Consumer</div></th>
				<th width="160" scope="col">Address</th>
				<th></th>
			</tr>
			{% for landlord in landlords %}
				<tr>
					{% if landlord.company_name %}
						<td><a href="{% url landlord-details landlord.id %}">{{ landlord.company_name }}</a></td>
					{% else %}
						<td><a href="{% url landlord-details landlord.id %}">{{ landlord.full_name }}</a></td>
					{% endif %}
					<td>{{ landlord.full_address}}</td>
					<td><a href="{% url landlord-plot-add landlord.id %}">New Plot</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock main_column %}

{% block right_column %}
	<div class="right-col">
		<ul>
	        <li><a href="{% url landlord-list %}"> Landlords </a></li><br />
			<li><a href="#"> Add New Plot </a></li>
			<li><a href="#"> All Plots</a></li>
	    </ul>
	</div>
{% endblock right_column %}