{% extends "base_settings.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>List of Plots:</h1>
		<div class="form-capsule">
			<div class="form-row">
				<p><a href="{% url plot-add %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" /> New Plot</a></p>
			</div>
			<p>
				<label for="search">Search</label>
				<input type="text" id="search" name="search"/>
			</p>
			<table>
				<tr>
					<th width="200" scope="col">Plot No</th>
					<th width="230" scope="col">Landlord</th>
					<th width="130" scope="col">Street</th>
				</tr>
				{% for plot in plots %}
				<tr>
					<td><a href="{% url plot-details plot.pk %}">{{ plot.plot_no }}</a></td>
					<td>
						<a href="{% url landlord-details plot.landlord.id %}">
							{% if plot.landlord.name_of_company%}
								{{ plot.landlord.name_of_company }}
							{% else %}
								{{ plot.landlord.full_name }}
							{% endif %}
						</a>
					</td>
					<td>{{ plot.street }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock main_column %}