{% extends "base_consumer.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Consumer Module</h1></div>
	<div class="shadow">
		<h1>List of {% if closed_accounts %}Closed{% endif %} Accounts:</h1>
		<p>
		</p>
		<div class="form-capsule">
			<table width="595">
				<tr class="table-header">
					<th width="230" scope="col"><div align="left">Account No</div></th>
					<th width="230" scope="col">Account Holder</th>
					<th width="100" scope="col">Date {% if closed_accounts %}Closed{% else %}Activated{% endif %}</th>
				</tr>
				{% if accounts %}
				{% for account in accounts %}
					<tr>
						<td><a href="{% url account-details account.id %}">{{ account.account_no }}</a></td>
						{% if account.application.consumer.company_name %}
							<td><a href="{% url consumer-details account.application.consumer.id %}">{{ account.application.consumer.company_name }}</a></td>
						{% else %}
							<td><a href="{% url consumer-details account.application.consumer.id %}">{{ account.application.consumer.full_name }}</a></td>
						{% endif %}
						<td>{{ account.date_activated }}</td>
					</tr>
				{% endfor %}
				{% endif %}
				{% if closed_accounts %}
				{% for account in closed_accounts %}
					<tr>
						<td><a href="{% url account-details account.id %}">{{ account.account_no }}</a></td>
						{% if account.application.consumer.company_name %}
							<td><a href="{% url consumer-details account.application.consumer.id %}">{{ account.application.consumer.company_name }}</a></td>
						{% else %}
							<td><a href="{% url consumer-details account.application.consumer.id %}">{{ account.application.consumer.full_name }}</a></td>
						{% endif %}
						<td>{{ account.date_closed }}</td>
					</tr>
				{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>
{% endblock main_column %}

{% block right_column %}
{% endblock right_column %}