{% extends "base_settings.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Settings Module</h1></div>
	<div class="shadow">
		<h1>List of Plots:</h1>
		<p><a href="{% url plot-add %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" /> New Plot</a></p>
		<p>
			<label for="search">Search</label>
			<input type="text" id="search" name="search"/>
		</p>
		<div class="form-capsule">
			<table width="595">
				<tr class="table-header">
					<th width="230" scope="col"><div align="left">Region No</div></th>
					<th width="230" scope="col">Region Name</th>
					<th width="100" scope="col">No Of Consumers</th>
				</tr>
				{% for region in regions %}
					<tr>
						<td><a href="{% url region-details region.id %}">{{ region.pk }}</a></td>
						<td><a href="{% url region-details region.id %}">{{ region.name }}</a></td>
						<td><a href="{% url zone-region-add region.id %}">Add a Zone</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock main_column %}

{% block right_column %}
{% endblock right_column %}