{% extends "base_settings.html" %}

{% block main_column %}
	<div align="center"><h1 class="module-header">Settings Module</h1></div>
	<div class="shadow">
		<h1>List of Zones:</h1>
		<div class="form-capsule">
			<div class="form-row">
				<p><a href="{% url zone-add %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" /> New Zone</a></p>
			</div>
			<p>
				<form method="get" action="{% url zone-search %}">
					<input type="text" id="search" name="search"/>
					<input type="submit" value="search" />
				</form>
			</p>
			<p>{% if query %} You searched for <strong> {{ query }} </strong>{% endif%}</p>
			<table width="595">
				<tr class="table-header">
					<th width="230" scope="col"><div align="left">Zone No</div></th>
					<th width="200" scope="col">Zone Name</th>
					<th width="130" scope="col"></th>
				</tr>
				{% for zone in zones %}
					<tr>
						<td><a href="{% url zone-details zone.pk %}">{{ zone.pk }}</a></td>
						<td><a href="{% url zone-details zone.pk %}">{{ zone.name }}</a></td>
						<td><a href="{% url subzone-zone-add zone.pk %}">Add a Sub-zone</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock main_column %}

{% block right_column %}
{% endblock right_column %}