{% extends "base_settings.html" %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#delete-link").click(function(){
				$.ajax({
					  type: 'POST',
					  url: "{% url zone-delete zone.id %}",
					  data: {},
					  success:function(){
					  	window.location.replace("{% url zone-list %}");
					  }
				});
				return false;
			});
		});
	</script>
{% endblock extrajs %}

<title>{% block title %} {{ zone.name }} | Details {% endblock title%} |</title>

<div class="main-col">
	{% block main_column %}
		<div align="center"><h1 class="module-header">Settings Module</h1></div>
		<div class="shadow">
            <h1>{{ zone.name }} Zone
				<a href="{% url zone-edit zone.id %}" class="linkbutton">
                	<div align="center"><img src="{{ MEDIA_URL }}images/icons/icon_changelink.gif" />Edit Zone</div>
                </a>
			</h1>
			<div>
				<p>
					<a href="{% url subzone-zone-add zone.id %}" class="links"><img src="{{ MEDIA_URL }}images/icons/icon_addlink.gif" />Add Sub-Zone</a>
				</p>
			</div>
            <div class="form-capsule">
				<div class="form-row">
	    			<p>
	    				<label>Region:</label><a href="{% url region-details zone.region.pk %}">{{ zone.region.name }}</a>
					</p>
	    		</div>
				{% if subzones %}
					<div class="form-row">
	                	<div align="center"><h2 class="application">All Sub-Zones under this Zone</h2></div>
	                	<table>
	                		<tr class="table-header">
								<th scope="col" width="285"><div align="left">Region No</div></th>
								<th scope="col" width="285">Zone Name</th>
							</tr>
							{% for subzone in subzones %}
								<tr>
									<td><a href="{% url subzone-details subzone.pk %}">{{ subzone.pk }}</a></td>
									<td><a href="{% url subzone-details subzone.pk %}" style="margin-left: 5px;">{{ subzone.name }}</a></td>
								</tr>
							{% endfor %}
	                    </table>
	                </div>
                {% else %}
                	<div class="form-row">
            			<p><strong>There are no sub-zones in this zone. Click on the Add Sub-Zone link above to add a new sub-zone</strong></p>
            		</div>
                {% endif %}
			</div>
        </div>
        {% if not subzones %}
			<div id="deleterow" class="shadow">
				<p><a href="#" id="delete-link"><img src="{{ MEDIA_URL }}images/icons/icon_deletelink.gif" /><strong> Delete</strong> </a></p>
			</div>
		{% endif %}
	{% endblock main_column %}
</div>	
